{% extends "layout.html" %}
{% block body %}
<div class="container">
    {% with messages = get_flashed_messages(category_filter=["info"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong>Internet Connection Failed!</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong>City Not Found!</strong> {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <br><br>
            <form class="container" action="/weather/{{username}}" method="post">
                <h3 class="text-center">Welcome {{username}}</h3><br>
                <div class="input-group mb-3 mt-4">
                    <input type="text" class="form-control" name="city" placeholder="Enter Your City" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-outline-primary" type="submit">Add City</button>
                        <a href="/logout"><button class="btn btn-outline-danger" type="button">Logout</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sno</th>
                <th scope="col">City</th>
                <th scope="col">Icon</th>
                <th scope="col">Temperature</th>
                <th scope="col">Description</th>
                <th scope="col">DateTime</th>
                <th scope="col">Update</th>
                <th scope="col">Remove city</th>
            </tr>
        </thead>
        <tbody>
            {% if cities %}
            {% for city in cities | reverse %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ city.city_name }}</td>
                <td> <img src="http://openweathermap.org/img/w/{{city.icon}}.png" alt="image"> </td>
                <td>{{ city.temperature }}&#x2103;</td>
                <td>{{ city.description }}</td>
                <td>{{ city.datetime}}</td>
                <td><a href="/update/{{ city.sno }}"><button type="button" class="btn btn-outline-success">Update</button></td></a>
                <td><a href="/remove/{{ city.sno }}"><button type="button" class="btn btn-outline-danger">Remove</button></td></a>
            </tr>
            {% endfor %}
            {%endif%}
        </tbody>
    </table>
</div>
{% endblock %}